@media (max-width: 1235px) {
    .card{
        width: 32%;
    }
    .card-image{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}
@media (max-width: 831px){
    .card{
        width: 48%;
    }
    .promo{
        backdrop-filter: blur(10px);
    }
}
@media (max-width: 647px){
    .modal_content{
        height: 97%;
    }
    .card{
        width: auto;
    }
    .cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .header{
        flex-direction: column;
        padding: 10px;       
    }
    .search_input{
        margin: 20px 5px 20px 5px;
    }
    .promo{
        height: auto;
        max-width: 100%;
        padding: 30px 10px;
        background-image: none;
    }
    .res-heading{
        flex-direction: column;
        margin-bottom: 25px;
    }
    .input-res{
        margin: 0 8px;
        min-width: 37%;
        max-width: 90%;
    }
    .footer_flex{
        flex-direction: column-reverse;
    }
    .content_footer{
        flex-direction: column-reverse;
    }
    .content_footer a {
        padding: 11px 8px;
    }
    .content_footer .logo{
        margin-top: 15px;
    }
    .promo-title, .promo-text{
        text-align: center;
    }
}