* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #000000;
    transition: 0.2s;
}
a:hover{
    color: #070707;
    text-decoration: underline;
}
a:active{
    color: #535353;
    text-decoration:none;
}
header,main,footer{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1240px;
}
header,footer{
    max-width: none !important;
}
.logo{
    height: 36px;
    width: 110px;
}
.container{
    width: 100%;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1240px;
}
body{
    margin: 0;
    background-color: #f7f7f7;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}
header{
    box-shadow: 0px 5px 20px 6px rgb(90 90 90 / 15%);
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f7f7f7;
    padding: 1em;
    /*box-shadow: 0px 5px 20px 6px rgb(90 90 90 / 15%);*/
}
input{
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    font-size: 16px;
    line-height: 24px;
    outline: none;
    padding: 8px 0;
    padding-left: 35px;
}
.search_input{
    width: 690px;
    background-image: url(../image/home.svg); 
    background-repeat: no-repeat;
    background-position: left 11px center;  
    max-width: 90%;
}
.buttons{
    display: flex;
    align-items: center;
}
.button {
    padding: 13px 16px;
    border-radius: 2px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.0015);
    font-size: 16px;
    line-height: 16px;
    color: #595959;
    margin: 0 6px;
    transition: 0.3s;
    max-height: 44px;
    min-width: 110px;
}
.button:hover{
    box-shadow: 0px 0px 7px 2px rgb(90 90 90 / 20%);
    cursor: pointer;
}
.btn-img{
    margin-right: 6px;
    vertical-align:middle
}
.btn-primary{
    color: #FFFFFF;
    background: #1890FF;
}
.button_out{
    display: none;
    background: #1890FF;
    color: #f1f1f1;
}
.user_name{
    margin-right: 8px;
}
.warning{
    border: 1px solid #f50000;
}
