
.promo{
    box-shadow: 0px 7px 12px 0px #9E9EA31A;
    background: #FFF1B8;
    border-radius: 10px;
    padding: 30px 70px;
    background-repeat: no-repeat;
    background-image: url(../image/promo_image.png);
    background-position: bottom right -200px;
    height: 300px;
    margin-top: 40px;
}
.promo-text{
    max-width: 530px;
    font-size: 24px;
    line-height: 28px;
    color: #302C34;
}
.promo-title{
    font-weight: 700;
    font-size: 39px;
    line-height: 46px;
    color: #302C34;
}
.input-res{
    background-image: url(../image/search.svg);
    background-repeat: no-repeat;
    background-position: left 11px center;
    width: 306px;
}
.res-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cards{
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card{
    border-radius: 7px;
    background-color: #FFFFFF;
    box-shadow: 0 0 20px 0px rgb(217 217 217 / 50%);
    overflow: hidden;
    margin: 13px 3px 39px 3px;
    transition: 0.3s;
}
.card:hover{
    box-shadow: 0 0 20px 0px rgba(56, 56, 56, 0.5);
    filter: contrast(1.15);
}
.card-image{
    width: 384px;
    height: 250px;
    object-fit: cover;
}
.card-text{
    padding-top: 20px;
    padding-bottom: 35px;
    padding-left: 23px;
    padding-right: 23px;
}
.card-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
}
.card-tag{
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    background: #262626;
    border-radius: 2px;
    padding: 1px 8px;
}
.card-info{
    display: flex;
    align-items: center;
}
.rating{
    color: #FFC107;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    margin-right: 16px;
}
.rating img{
    padding-right: 5px;
}
.price, .category{
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #8C8C8C;
    padding: 0 0px;
}
.price:after{
    content: "";
    width: 5px;
    height: 5px;
    background-color: #8C8C8C;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    margin: 0 11px;
}
.is-open{
    display: flex !important;
}
.modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(27 27 27 / 76%);
    display: none;
}
.modal_content{
    width: 97%;
    max-width: 780px;
    min-height: 552px;
    background: #FFFFFF;
    border-radius: 5px;
    margin: auto;
    padding: 40px 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.modal_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal_title{
    font-size: 30px;
}
.close{
    font-size: 36px;
    border: none;
    background-color: transparent;
    transition: 0.2s;
    border-radius: 5px;
}
.close:hover{
    background-color: #69696d1a;
    cursor: pointer;
}
.close:active{
    background-color: #07070763;
}
.foods_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D9D9D9;
    padding: 3px;
    margin: 23px 1px;
}
.food_options{
    display: flex;
    align-items: center;
}
.counter_btn{
    width: 35px;
    height: 30px;
    border: 1px solid #40A9FF;
    background: transparent;
    transition: 0.2s;
    border-radius: 6px;
}
.counter_btn:hover{
    background: #2f9ef8;
    cursor: pointer;
}
.count_price{
    margin-right: 25px;
}
.count{
    margin: 0 3px;
}
.food_name{
    font-size: 18px;
}
.modal_buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal_buttons .btn button {
    padding: 13px 9px;
    font-weight: 400;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    background-color: #2f9ef8;
    color: #FFFFFF;
    cursor: pointer;   
}
.cancel{
    background-color: #FFFFFF !important; 
    border: 1px solid #b9b9b9 !important;
    color: #262626 !important;
}
.total{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    border-radius: 6px;
    color: #ffffff;
    background-color: #262626;
    padding: 12px;
}
.login_form{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(27 27 27 / 76%);
    display: none;
}
.login_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login_content input {
    margin-top: 21px;
    padding: 8px;
    border-radius: 5px;
    transition: 0.5s;
}
.login_content input:hover{
    border-bottom: 1px solid #2f9ef8;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    border-top: 1px solid #D9D9D9;
}
.login{
    outline: none;
    padding: 12px;
    color: #ededee;
    background-color: #262626;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    transition: 0.05s;
}
.login:hover{
    padding: 10px;
    margin-top: 2px;
}